@import 'fonts.scss';
@import 'normalize.scss';
@import 'mixsins.scss';

/*=============================================*/


$ff1: "RobotoBold";
$ff2: "RobotoLight";
$ff3: "RobotoRegular";
$ff4: "RobotoMedium";
$ff5: "OpenSansRegular";
$ff6: "ProximaNovaRegular";
$ff7: "proximanovasemibold";
$ff8: "ProximaNovaTThin";
$ff9: "SFUITextBold";
$ff10: "SFUITextLight";
$ff11: "SFUITextMedium";
$ff12: "SFUITextRegular";
$ff13: "ProximaNovaExtrabld";

$fc1: #ffffff;
$fc2: #000000;
$fc3: #91aa59;
$fc4: #111111;
$fc5: #242424;
$fc6: #fefefe;
$fc7: #2a4f37;
$fc8: #c8d4ac;
$fc9: #c8d4ac;
$fc10: #010101;



/*=============================================
      ОБЩИЕ ПРАВИЛА
  ============================================= */

.clearfix:after {
    @include clearfix;
}

html {
    font-size: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-size: rem(16px);
    font-family: $ff13;
    font-weight: 400;
    line-height: 1.375;
    color: $fc2;
    background: $fc1;
}

p,
ul {
    margin: 0;
}

.container {
    max-width: rem(1200px);
    margin: 0 auto;
    padding: 0 rem(17px);
}

/*============================================= */


/*=============================================
        ШАПКА
============================================= */

.header {
    height: rem(786px);
    background-image: url(../img/images/bgHeader.png);
    background-repeat: no-repeat;
    background-position: top -5px left -5px;
    background-size: 102.2% auto;
    padding-top: 1.535rem;
}

.row-header {
    width: 100%;
    height: rem(776px);
    background-image: url(../img/images/foto.png);
    background-repeat: no-repeat;
    background-position: top 5px right rem(-106px);
    background-size: 81% auto;
}

.header__topLine {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 7.6rem;
    padding-right: 0.3rem;
}

.logo {
    background-image: url(../img/images/logo.png);
    background-repeat: no-repeat;
    height: rem(53px);
    width: rem(63px);
}

/* Кнопка меню-гамбургер
------------------------------------------------*/
.burger {
    @include gamburger (23px, 2px, 5px, $fc1, $fc3);

    &__line {
        transition: 0.3s;

        &:first-child {
            width: rem(15px);
        }
    }
}

.burger--active {
    .burger__line {
        &:first-child {
            height: 0;
        }

        &:nth-child(2) {
            transform: rotate(45deg);
            margin-bottom: -0.12rem;
        }

        &:last-child {
            transform: rotate(-45deg);
        }
    }
}

.burger,
.burger:active {
    outline: none;
}


/*----------------------------------------------*/

.phone {
    opacity: 0.87;
    color: $fc2;
    font-family: $ff12;
    font-size: 0.875rem;
    font-weight: 700;
    line-height: 1.31;
    text-transform: uppercase;
    text-decoration: none;
}

// Скрытое меню
/*----------------------------------------------*/
.nav {
    position: absolute;
    top: 100%;
    left: 31.7%;
    display: none;
    max-width: 100%;
    text-align: right;

    &__link {
        display: block;
        padding: rem(3px) rem(6px);
        color: $fc1;
        font-family: $ff3;
        font-weight: 300;
    }

    .nav__link:hover {
        background-color: darken($fc3, 5%);
    }
}

.visible {
    display: block;
}

/*----------------------------------------------*/

.header__title {
    margin: 0;
    color: $fc1;
    font-family: $ff3;
    font-size: 3.55rem;
    font-weight: 200;
    line-height: 1.24;
    letter-spacing: 0.273rem;
    text-transform: uppercase;
}

.header__desc {
    margin-top: 1.2rem;
    margin-bottom: 2.825rem;
    color: $fc1;
    font-family: $ff12;
    font-size: 1.125rem;
    font-weight: 200;
    line-height: 1.7;
}

/* Кнопка со стрелкой основная 
/*----------------------------------------------*/
.btn {
    position: relative;
    display: inline-block;
    text-align: center;
    line-height: 3.375;
    padding: 0 rem(46px);
    border-radius: 1.688rem;
    border: 0.125rem solid $fc1;
    text-decoration: none;

    &__text {
        display: inline;
        color: $fc1;
        font-family: $ff12;
        font-size: 0.875rem;
        font-weight: 500;
    }

    &__arrow {
        position: relative;
        width: rem(72px);
        height: 3.375rem;
    }
}

.btn__arrowBase,
.btn__arrowBase::after,
.btn__arrowBase::before {
    display: block;
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -1px;
    content: '';
    width: rem(72px);
    height: 0.125rem;
    background-color: $fc1;
}

.btn__arrowBase::after {
    width: rem(7px);
    transform: translateY(6px);
    transform: rotate(40deg);
    transform-origin: right top;
}

.btn__arrowBase::before {
    width: rem(7px);
    transform: translateY(-6px);
    transform: rotate(-40deg);
    transform-origin: right bottom;
}

.wrapper__arrow {
    position: absolute;
    right: rem(-36px);
    top: 0%;
}

/*============================================= */


/*=============================================
        ОСНОВНОЙ КОНТЕНТ
============================================= */
.main {
    margin-top: 4.975rem;
}

/*---------------------------------------------
  Секция о пилатесе
--------------------------------------------- */
.row-base {
    min-height: rem(400px);
    background-image: url(../img/images/PointsBg.png);
    background-repeat: no-repeat;
    background-position: top 44.6% right 57.5%;
}

.title-section {
    padding-left: 2.6rem;
    opacity: 0.87;
    color: $fc2;
    font-family: $ff3;
    font-size: 3rem;
    font-weight: 400;
    @include title(100%, 3px, $fc2);

    &::before {
        left: -0.325rem;
    }

    &::after {
        display: none;
    }
}

.desc-section {
    opacity: 0.87;
    color: $fc2;
    font-family: $ff12;
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.5;
}

.next {
    color: $fc7;
    font-family: $ff12;
    font-size: 0.875rem;
    font-weight: 500;
    letter-spacing: 0.09rem;
    text-transform: uppercase;

    .ic-angle-circled-right {
        margin-left: 0.35rem;
        color: $fc7;
    }
}

.row-base__content {
    display: flex;
    justify-content: space-between;
    width: 100%;

    .title-section:nth-child(1) {
        margin-top: 0;
        margin-bottom: 2.9625rem;
    }

    .desc-section:nth-child(3) {
        margin-top: 1.6rem;
        margin-bottom: 2rem;
    }

    .row-base__blockImg {
        position: relative;
        max-width: 100%;

        .row-base__img1,
        .row-base__img2 {
            display: block;
            max-width: 100%;
            height: auto;
        }

        .row-base__img2 {
            margin-top: 2.2rem;
        }

        .row-base__img1 {
            position: absolute;
            bottom: -0.7rem;
            left: -14.8rem;
            z-index: 10;
        }
    }

}

/*----------------------------------------------*/

/*---------------------------------------------
  Секция расписание и стоимость
--------------------------------------------- */
.row-price {
    margin-top: 11.8rem;

    &__content {
        .title-section:nth-child(1) {
            margin-top: 0;
            margin-bottom: 3.4625rem;
        }
    }
}

.row-price__items {
    display: flex;
    justify-content: space-between;
}

.price-item {
    width: 32.4%;
    padding-bottom: 5.9375rem;
    border-radius: 0.25rem;
    background-repeat: no-repeat;
    background-position: top 21% right 42.7%;
    background-color: $fc3;
    opacity: 0.5;

    &__container {
        width: 71.8%;
        margin-left: rem(69px);
    }

    &__title {
        margin-top: 10.9625rem;
        margin-bottom: 1.275rem;
        color: $fc1;
        font-family: $ff3;
        font-size: 1.75rem;
        font-weight: 500;
        line-height: 1;
        text-transform: uppercase;
        letter-spacing: 0.15rem;

        span {
            padding-left: 0.15rem;
            font-size: 0.875rem;
            letter-spacing: 0.088rem;
        }
    }

    &__tarif {
        padding-left: 0.3rem;
        color: $fc1;
        font-family: $ff12;
        font-size: 1.5rem;
        font-weight: 700;
    }

    &__list {
        margin-top: 0.9375rem;
        margin-bottom: 2.05rem;
        padding-left: 0;
        list-style-type: none;
    }

    &__punkt {
        color: $fc1;
        font-family: $ff12;
        font-size: 1.188rem;
        font-weight: 500;
        line-height: 1.91;
        text-transform: lowercase;
    }

    &__mode {
        margin-left: rem(17px);
    }

    .btn--price {
        padding: 0 3.925rem;
        line-height: 2.775;
    }

    .btn__text--price {
        font-size: 1.188rem;
    }
}

.price-item--darken {
    opacity: 0.7;
}

.price-item--dark {
    opacity: 0.9;
}

/*----------------------------------------------*/

/*---------------------------------------------
  Секция про занятия
--------------------------------------------- */
.row-classes {
    margin-top: 7.2rem;
}

.row-classes__container {
    max-width: rem(980px);
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

    .row-classes__part:nth-child(1) {
        margin-top: 8.7rem;
    }

    .title-row-classes:nth-child(1) {
        margin-bottom: 1.2rem;
    }
}

.row-classes__content1 {
    height: 34.25rem;
    background-repeat: no-repeat;
    background-position: top 100% right 30.5%;

    .row-classes__img1 {
        position: relative;
        z-index: -10;
        height: 23.25rem;
        width: 50%;
        margin-top: 2.2rem;
        background-repeat: no-repeat;
        background-position: 36.1% 100%;
    }

    .title-section:nth-child(1) {
        padding-top: 0.3rem;
    }
}

.title-row-classes {
    opacity: 0.87;
    color: $fc5;
    font-family: $ff3;
    font-size: 1.75rem;
    font-weight: 400;
}

.row-classes-desc {
    opacity: 0.87;
    color: $fc10;
    font-family: $ff12;
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.5;
}

.row-classes__content2 {
    height: rem(700px);
    background-repeat: no-repeat;
    background-position: 22.3% 53%;

    .row-classes__container {
        position: relative;

        .row-classes__pic2 {
            position: absolute;
            top: rem(-24px);
            left: rem(111px);
        }
    }

    .title-row-classes:nth-child(1) {
        margin-top: 18rem;
        margin-bottom: 0.9rem;
    }
}

.row-classes__content3 {
    height: rem(500px);
    background-repeat: no-repeat;
    background-position: 71.5% 44.8%;

    .row-classes__container {
        position: relative;

        .row-classes__pic3 {
            position: absolute;
            top: 9rem;
            left: 25.8375rem;
        }
    }
}

.row-classes__content4 {
    height: rem(600px);
    background-repeat: no-repeat;
    background-position: 20.4% 78%;

    .row-classes__container {
        position: relative;

        .row-classes__pic4 {
            position: absolute;
            top: rem(166px);
            left: rem(-48px);
        }
    }

    .title-row-classes:nth-child(1) {
        margin-top: 16.8rem;
        margin-bottom: 0.9rem;
    }

    .row-classes__part:nth-child(2) {
        padding-left: 39.7rem;
    }
}

/*----------------------------------------------*/

/*---------------------------------------------
  Секция с отзывами
--------------------------------------------- */
.row-comments {
    margin-top: 5.3rem;
}

.slider__item {
    display: flex;
    max-width: rem(977px);
    margin: 1.45rem auto;
    padding: 6.7375rem rem(140px);
    background-repeat: no-repeat;
    background-position: 92% 18.8%;
    box-shadow: 0 9px 23px 9px rgba(33, 33, 33, 0.04);
    border-radius: 4px;
    background-color: $fc1;

    .comments__img {
        max-width: rem(185px);
        max-height: rem(185px);
        height: auto;
        margin-right: 3.3625rem;
    }

    .comments__content {
        max-width: 100%;
        color: $fc2;
        font-family: $ff3;
        font-weight: 400;

        .comments__name {
            margin-top: -1.25rem;
            margin-bottom: rem(3px);
            opacity: 0.87;
            font-size: rem(28px);
        }

        .comments__info {
            margin-bottom: 1.2525rem;
            opacity: 0.87;
            font-size: rem(18px);

            .comments__social {
                margin-left: 0.15rem;

                .ic {
                    margin-left: rem(15px);
                    color: #808080;
                }
            }
        }

        .comments__text {
            max-width: 95%;
            color: $fc2;
            font-family: $ff12;
            font-size: 1rem;
            font-weight: 300;
            line-height: rem(23.96px);
            overflow-x: hidden;
        }
    }
}

// Пагинация и навигация слайдера
.slider {
    .owl-dots {
        width: 100%;
        text-align: center;
        margin-top: 1.4rem;
        margin-left: -0.8rem;

        .owl-dot {
            width: 10px;
            height: 10px;
            display: inline-block;
            border-radius: 50%;
            background-color: $fc3;
            opacity: 0.5;
            margin-left: 1.675rem;
            transition: background-color 0.5s ease, transform 0.5s ease;
            outline: none;
            
            &.active {
                background-color: $fc3;
                transform: scale(1.5)               
            }
        }
    }

    .owl-nav {
        position: absolute;
        left: 0;
        right: 0;
        top: 13.7rem;
        display: flex;
        justify-content: space-between;

        .owl-next,
        .owl-prev {
            outline: none;

            .slider-next,
            .slider-prev {
                outline: none;
                display: block;
                width: 22px;
                height: 38px;
            }

            .slider-next {
                background-image: url(../img/images/arrowR.png);
            }

            .slider-prev {
                background-image: url(../img/images/arrowL.png);
            }
        }
    }
}


//________________________________________________

/*---------------------------------------------
  Секция Контакты
--------------------------------------------- */
.row-contacts {
    position: relative;
    margin-top: 7.2rem;
}

.card-adress {
    position: absolute;
    top: 7.5875rem;
    left: rem(90px);
    z-index: 10;
    max-width: rem(310px);
    width: 100%;
    padding: 3.25rem 0 4.5125rem rem(68px);
    box-shadow: 0 6px 15px rgba(33, 33, 33, 0.2);
    background-color: $fc3;

    .card-adress__adress,
    .card-adress__phone,
    .card-adress__email {
        opacity: 0.87;
        color: $fc1;
        font-family: $ff12;
        font-size: 1rem;
        font-weight: 600;
        line-height: 2.10;
    }

    .card-adress__phone:nth-child(2) {
        margin-top: 1.18rem;
        margin-bottom: 0.7rem;
    }

    span,
    a {
        display: block;
    }

    span {
        opacity: 0.87;
        color: $fc1;
        font-family: $ff12;
        font-size: 1rem;
        font-weight: 300;
        line-height: 1.34;
    }

    a {
        opacity: 0.87;
        color: $fc1;
        font-family: $ff12;
        font-size: 1rem;
        font-weight: 300;
        line-height: 1.93;

    }

    .card-adress__email a {
        text-decoration: underline;
    }
}

.map {
    margin-top: 3.5rem;
    width: 100%;
    height: 32.063rem;
}



/*============================================= */


/*=============================================
        ПОДВАЛ
============================================= */
footer {
    padding: rem(38px) 0;
    background-color: $fc3;
}

.row-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__copy {
        margin-right: -3.5rem;
        color: $fc6;
        font-family: $ff12;
        font-size: 0.875rem;
        font-weight: 300;
        line-height: 1.57;
        letter-spacing: 0.095rem;
    }

    .ic {
        margin-left: 1rem;
        color: $fc1;
        opacity: 0.87;
        font-size: 1.275rem;
    }
}


/*============================================= */


/*=============================================
        АДАПТИВ
============================================= */

@import 'media.scss';

/*============================================= */