@import 'fonts.scss';
@import 'normalize.scss';
@import 'mixsins.scss';

/*=============================================*/


$ff1: "RobotoBold";
$ff2: "RobotoLight";
$ff3: "RobotoRegular";
$ff4: "RobotoMedium";
$ff5: "OpenSansRegular";
$ff6: "ProximaNovaRegular";
$ff7: "proximanovasemibold";
$ff8: "ProximaNovaTThin";
$ff9: "SFUITextBold";
$ff10: "SFUITextLight";
$ff11: "SFUITextMedium";
$ff12: "SFUITextRegular";
$ff13: "ProximaNovaExtrabld";

$fc1: #ffffff;
$fc2: #000000;
$fc3: #91aa59;
$fc4: #111111;
$fc5: #242424;
$fc6: #fefefe;
$fc7: #2a4f37;
$fc8: #c8d4ac;
$fc9: #c8d4ac;
$fc10: #010101;



/*=============================================
      ОБЩИЕ ПРАВИЛА
  ============================================= */

.clearfix:after {
    @include clearfix;
}

html {
    font-size: 100%;
}

body {
    margin: 0;
    padding: 0;    
    font-size: rem(16px);
    font-family: $ff13;
    font-weight: 400;
    line-height: 1.375;
    color: $fc2;
    background: $fc1;    
}

p,
ul {
    margin: 0;
}

.container {
    max-width: rem(1200px);
    margin: 0 auto;
    padding: 0 rem(17px);
}

/*============================================= */


/*=============================================
        ШАПКА
============================================= */

.header {
    height: rem(786px); 
    background-image:url(../img/images/dgHeader.png);   
    background-repeat: no-repeat;
    background-position: top -5px left -5px;
    background-size: 102.2% auto;    
    padding-top: 1.535rem;
}

.row-header{    
    height: rem(776px);
    background-image:url(../img/images/foto.png);
    background-repeat: no-repeat;
    background-position: top 5px right -106px;
    background-size: 81% auto;
}

.header__topLine {  
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 7.6rem;
    padding-right: 0.3rem;    
}

.logo{
    background-image:url(../img/images/Логотип.png);
    background-repeat: no-repeat;    
    height: 53px;
    width: 63px; 
}

/* Кнопка меню-гамбургер
------------------------------------------------*/
.burger {
    @include gamburger (23px, 2px, 5px, $fc1, $fc3);

    &__line {
        &:first-child {
            width: 15px;
        }
    }
}
/*----------------------------------------------*/

.phone {
    opacity: 0.87;
    color: $fc2;
    font-family: $ff12;
    font-size: 0.875rem;
    font-weight: 700;
    line-height: 1.31;
    text-transform: uppercase;
    text-decoration: none;
}

.header__title {
    margin: 0;
    color: $fc1;
    font-family: $ff3;
    font-size: 3.55rem;
    font-weight: 200;
    line-height: 1.24;
    letter-spacing: 0.273rem;
    text-transform: uppercase;
}

.header__desc {
    margin-top: 1.2rem;
    margin-bottom: 2.825rem;
    color: $fc1;
    font-family: $ff12;
    font-size: 1.125rem;
    font-weight: 200;
    line-height: 1.7;    
}

/* Кнопка со стрелкой основная 
/*----------------------------------------------*/
.btn {
    position: relative;
    display: inline-block;
    text-align: center;
    line-height: 3.375;
    // width: 15.5rem;
    // height: 3.375rem;
    padding: 0 46px;
    border-radius: 1.688rem;
    border: 0.125rem solid $fc1;
    text-decoration: none;

    &__text {
        display: inline;
        color: $fc1;
        font-family: $ff12;
        font-size: 0.875rem;
        font-weight: 500;
    }

    &__arrow {
        position: relative;        
        width: 72px;
        height: 3.375rem;        
    }
}

.btn__arrowBase,
.btn__arrowBase::after,
.btn__arrowBase::before {
    display: block;
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -1px;
    content: '';
    width: 72px;
    height: 0.125rem;
    background-color: $fc1;
}

.btn__arrowBase::after {
    width: 7px;
    transform: translateY(6px);
    transform: rotate(40deg);
    transform-origin: right top;
}

.btn__arrowBase::before {
    width: 7px;
    transform: translateY(-6px);
    transform: rotate(-40deg);
    transform-origin: right bottom;
}

.wrapper__arrow {
    position: absolute;
    right: -36px;
    top: 0%;
}

/*============================================= */


/*=============================================
        ОСНОВНОЙ КОНТЕНТ
============================================= */

/*---------------------------------------------
  Секция ...................
--------------------------------------------- */



/*----------------------------------------------*/

/*---------------------------------------------
  Секция ..................
--------------------------------------------- */


/*----------------------------------------------*/
/*============================================= */


/*=============================================
        ПОДВАЛ
============================================= */



/*============================================= */


/*=============================================
        АДАПТИВ
============================================= */

@import 'media.scss';

/*============================================= */